{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/header/macro.njk" import govukHeader -%}

{% extends "govuk/template.njk" %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {% if isLoggedIn %}
    {{ govukHeader({
        serviceName: "Task Manager",
        homepageUrl: "/",
        navigation: [
          {
            text: "Home",
            href: "/"
          },
          {
            text: "Create task",
            href: "/tasks?taskNameOrId="
          },
          {
            text: "Logout",
            href: "/logout"
          }
        ]
    }) }}
  {% else %}
    {{ govukHeader({
        serviceName: "Task Manager",
        homepageUrl: "/",
        navigation: [
          {
            text: "Home",
            href: "/"
          },
          {
            text: "Create task",
            href: "/tasks?taskNameOrId="
          }
        ]
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if errorMsg %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMsg,
          href: errorHref
        }
      ]
    }) }}
  {% endif %}
  {% block pageContent %}{% endblock %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
